/* general doc */
html,
body {
  height: 100%;
  background-color: #f2ede6;
}
body {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #b2ac88;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

footer .container {
  width: 100%;
  max-width: none;
}
/* navbar, links, icons,etc */
.logo {
  height: 70px;
  width: auto;
}

.logo-account {
  height: 100px;
  width: auto;
  display: block;
  margin: 0 auto;
}

.content {
  flex-grow: 1;
}
.collapse {
  margin-right: 10vw; /* Shift navbar items to the left */
}
.nav-item {
  font-size: 1.2rem;
}
.main-nav {
  background-color: #b2ac88;
  color: black;
}
.second-nav {
  background-color: #ced9c1;
  color: black;
}
.underlined {
  text-decoration: underline;
}

.navbar-nav .nav-link,
footer a {
  color: black;
}
.navbar-brand {
  font-size: 3rem;
}

ul.list-inline {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.list-inline-item {
  margin-right: 20px;
}

.account-icon,
.shop-icon {
  margin-right: 0.7rem;
  font-size: 1.8rem;
  color: black;
  transition: color 0.3s ease, transform 0.3s ease;
}

.account-icon i:hover,
.wishlist-icon i:hover,
.shop-icon i:hover {
  color: #555;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #555;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.shop-icon {
  margin-right: 2rem;
}

/* about us */
.square {
  max-width: 75%;
  height: auto;
  margin: 0 auto;
}

/* account interface */
.rounded-rectangle,
.rounded-rectangle2 {
  background-color: #ced9c1;
  color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.account-link {
  text-decoration: none;
  color: inherit;
}
.rounded-rectangle:hover {
  transform: scale(1.02);
}
.btn-success {
  background-color: #ced9c1;
  border-color: #000000;
  color: #000000;
  border-radius: 30px;
}
.btn-success:hover {
  background-color: #000000;
}
/*cart 2 form */
.form-control {
  border-radius: 30px;
  border-color: rgb(0, 0, 0);
}
.input-group {
  width: 65%;
}
/*filters */
.sort-button {
  background-color: #ced9c1;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}
.sort-button:hover {
  background-color: #9aa191;
}
#arrow {
  margin-left: 10px;
  font-size: 18px;
  transition: transform 0.3s ease;
}
/*cart checkout */
#checkoutButton {
  background-color: #afcea0;
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

.border-green {
  border: 1px solid #a9c191;
}

.cart-subtotal {
  background-color: #ced9c1; /* Green background */
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  min-height: 400px; /* Minimum height to ensure it's not too small */
  text-align: center;
}

.cart-subtotal h4 {
  margin-bottom: 15px;
}

.cart-subtotal .d-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cart-subtotal .d-flex > .d-flex {
  margin-bottom: 10px;
}
.hidden {
  display: none;
}

/* mobile devices */
@media (max-width: 768px) {
  ul.list-inline {
    display: block;
    text-align: center;
    padding-left: 40px;
  }

  .list-inline-item {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .account-icon,
  .wishlist-icon,
  .shop-icon {
    margin-right: 0.5rem;
    font-size: 1.3rem;
  }
  .our_story {
    align-items: center;
    text-align: center;
  }
  .cart-subtotal {
    min-height: 300px;
  }
}
